.page-view-line {
  display: flex;
  width: 90%;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  margin: 30px;
  background-color: #b1d8a7;
  color: #515068;
  border-radius: 12px;
}

.line-btns {
  border: none;
  background-color: #b1d8a7;
  width: 20%;
  margin-left: 5px;
}
