.drop1 {
  margin: auto;
  width: 9rem;
  height: 9rem;
  font-size: 2rem;
  font-weight: bolder;
  padding: 20px;
  border: 5px solid rgb(131, 231, 131);
}

/* .drop2 {
  width: 80rem;
  min-height: 20vh;
  margin: auto;
  font-size: 2rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5rem;
  flex-wrap: wrap;
  background-color: rgb(166, 221, 166);
  margin-top: 10px;

  border: 0.4rem solid rgb(166, 221, 166);
} */

img {
  display: block;
}
