.drop1 {
  margin: auto;
  width: 80rem;
  min-height: 20vh;
  /* margin: 2rem; */
  font-size: 2rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  background-color: rgb(166, 221, 166);
}

.drop2 {
  width: 80rem;
  min-height: 20vh;
  margin: auto;
  font-size: 2rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(166, 221, 166);
  margin-top: 10px;
}

img {
  display: block;
}
