.examinee-answers-container-header {
  background-color: #0e9ae660;
  color: #515068;
  width: 90%;
  height: 20vh;
  position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.table-header-text {
  margin: 2rem;
  font-size: 2rem;
  font-weight: bolder;
  padding: 2rem;
}
