.dragImgages-div {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 80rem;
  /* background-color: chartreuse; */
}

.question-button {
  min-width: 150px;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  background-color: #5ea669;
  color: #fff;
  outline: none;
  float: right;
  display: block;
  margin-top: 2rem;
  margin-right: 45%;
  clear: left;
}

.drop2 {
  border: none;
  /* background: url("./woood.jpg"); */
  background-color: #285a84;
  /* background-repeat: no-repeat;
  background-position: center; */
  border: #5ea669 solid 10px;
  height: 30vh;
  width: 70vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  opacity: 0.9;
}

.drop2 div {
  margin: 10px;
}

.drop1 {
  border-color: #5ea669;
}
