.main-details-Test {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #6aa4c4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
  height: 400px;
  margin-left: 20px;
  border-radius: 12px;
}
