.container-table-row {
  background-color: #0e9ae636;
  color: #515068;
  width: 90%;
  min-height: 25vh;
  position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 70px;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.step {
  margin: 2rem;
  font-size: 2rem;
  font-weight: bolder;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.wrong {
  width: 18rem;
  min-height: 20vh;
  margin: 2rem;
  font-size: 2rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.correct {
  width: 18rem;
  min-height: 20vh;
  margin: 2rem;
  font-size: 2rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.img-table {
  width: 4rem;
  height: 4rem;
  margin: 1rem;
}
